@media (max-aspect-ratio:10/9) {
	table {
		font-size: 1.5em;
	}
}

.info {
	border-style: solid;
	border-width: 3px;
	border-color: #f9f9fa;
	padding: 0.8em;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	color: #f9f9fa;
}

.info th:nth-child(even) {
	font-weight: 400;
}

.info th:nth-child(odd) {
	font-weight: 700;
	padding-right: 13px;
}

.userboxes {
	font-family: 'Open Sans', sans-serif;
	padding-top: 10px;
}

.wikibox {
	border: 1px solid;
	margin:1px;
	width:238px
}

.wikibox table {
	border-collapse:collapse;
	width:238px;
}

.wikibox table td:first-child{
	width:45px;
	height:45px;
	text-align:center;
	padding:0 1px 0 0;
	font-weight:bold;
}

.wikibox table td:nth-of-type(2){
	padding:0 4px 0 4px;
	height:45px;
	font-size:8pt;
}

.bd {
	font-weight: 600;
}

.it {
	font-style: italic;
}

#flag {
	padding-right: 4px;
}

#hbox {
	color: #f9f9fa;
	font-weight:600;
	font-size: 1.3em;
}