@font-face {
	font-family: GlassAntiqua;
	src: url(../fonts/GlassAntiqua-Regular.ttf);
}

@font-face {
	font-family: Prata;
	src: url(../fonts/Prata-Regular.ttf);
}

body {
	text-align: center;
	background-image: url("../images/hearts.gif");
	margin: 0;
}

h1 {
	font-family: Cooper;
}

h3 {
	font-family: GlassAntiqua;
}

p {
	font-family: Georgia;
}

table {
	margin: 15px;
}

td {
	background-color: #fff4;
	font-family: Georgia;
	padding: 10px;
	border: 2px;
	border-style: dotted;
	border-color: red;
}

hr {
	border: 0;
	height:28px;
	background-image: url("../images/stars.png");
}

.info {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}

.outer {
	display: flex;
	flex-direction: column;
	margin-right: 100px;
	margin-left: 100px;
	flex-basis: 20vw;
}

.outer img {
	position: relative;
}

.inner {
	flex-shrink: 0;
}

#banner {
	background-image: url("../images/clouds.png");
	padding: 1px;
}

#sources {
	font-family: Prata;
}

#imageflex {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

#imageflex img {
	width: 70%;
}

#images {
	border-style: ridge;
	border-color: HotPink;
	border-width: 5px;
	background-color: #FF69B4C0;
	padding: 10px 20px 10px 20px;
	margin: 10px;
}

@media only screen and (orientation: portrait) {
	.outer {
		display: none;
	}
}