@media (max-aspect-ratio:10/9) {
	iframe {
		width: 80vw;
	}
}

h2 {
	padding-bottom: 10px;
}

.text {
	border-style: solid;
	border-color: #E61273;
}

.text a {
	text-decoration: underline;
}

.metadata {
	margin-top: 10px;
}