@media (max-aspect-ratio:10/9) {
	iframe {
		width: 80vw;
	}
}

h2 {
	padding-bottom: 10px;
}

span {
	font-family: 'Source Serif Pro', serif;
	color: #f9f9fa;
}

code {
	font-family: Consolas,"courier new", monospace;
	color: #F0F0F0;
	background-color: #2A2A2E;
	padding: 2px;
	font-size: 105%;
}

.card {
	margin-top: 15px;
	border-radius: 10px;
	background-color: #38383d;
}

.text {
	padding: 20px;
	border-radius: 10px;
	border-style: solid;
	border-color: #E61273;
	border-width: 2px;
}

.text a {
	text-decoration: underline;
}

.metadata {
	margin-top: 10px;
}