@media (min-aspect-ratio:10/9) {
	h1 {
		font-size: 3em;
	}
	
	h2 {
		font-size: 1.7em;
	}
	
	h3 {
		font-size: 1.3em;
	}
	
	p {
		font-size: 0.9em;
	}
	
	.navbar {
		font-size: 1.3em;
	}
}

@media (max-aspect-ratio:10/9) {
	h1 {
		text-align: center;
		font-size: 4em;
	}
	
	h2 {
		font-size: 2.5em;
	}
	
	h3 {
		font-size: 1.8em;
	}
	
	p {
		font-size: 1.3em;
	}
	
	.navbar {
		font-size: 1.8em;
		justify-content: center;
	}
}

body {
	margin: 0;
	padding: 0;
	background-color: #2a2a2e;
}

h1 {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	background-color: #38383d;
	padding: 30px 2vw 10px 1.5vw;
	margin: 0;
	color: #A0A0AD;
}

h2 {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	margin: 0;
	color: #A0A0AD;
	padding-left: 2vw;
	text-align: center;
}

h3 {
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	margin: 0;
	color: #A0A0AD;
	text-align: left;
}

p {
	font-family: 'Source Serif Pro', serif;
	color: #f9f9fa;
	font-weight: 300;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: inherit;
}

code {
	font-family: Consolas,"courier new", monospace;
	color: #F0F0F0;
	background-color: #2A2A2E;
	padding: 2px;
	font-size: 105%;
}

.row {
	display: flex;
	justify-content: center;
}
	
.card {
	background-size: 100vw;
	margin: 10px;
	margin-top: 15px;
	border-radius: 10px;
	background-color: #38383d;
}

.text {
	padding: 20px;
	border-radius: 10px;
	border-width: 2px;
}

.navbar {
	display: flex;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #f9f9fa;
	background-color: #38383d;
}

.navbar a {
	padding: 1em;
}

#home:hover {
	background: #f9f9fa;
	color: #38383d;
}

#about:hover {
	background: #f9f9fa;
	color: #38383d;
}

#essays:hover {
	background: #f9f9fa;
	color: #38383d;
}

#links:hover {
	background: #f9f9fa;
	color: #38383d;
}

#blog:hover {
	background: #f9f9fa;
	color: #38383d;
}