@media (min-aspect-ratio:10/9) {
	img {
		height: 20vw;
	}
}

@media (max-aspect-ratio:10/9) {
	img {
		height: 100%;
		width: 80vw;
	}
}

span {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: white;
}

img {
	border-radius: 5px;
}

.card {
	margin-top: 15px;
	border-radius: 10px;
	background-color: #38383d;
}

.stage {
	padding: 10px 15px;
	position: relative;
	text-align: center;
	clear: both;
}

.caption {
	text-align: center;
	margin: auto;
	display: block;
	padding-bottom: 10px;
	font-size: 1em;
}