h2 {
	padding-bottom: 10px;
	padding-left: 0;
	text-align: left;
}

h3 {
	padding-bottom: 5px;
}

p {
	font-family: 'Source Serif Pro', serif;
	color: #f9f9fa;
	font-weight: 300;
	font-size: 1em;
	padding: 0;
	margin: 10px;
}

span {
		color: #A0A0AD;
}

code {
	font-family: Consolas,"courier new", monospace;
	color: #F0F0F0;
	background-color: #2A2A2E;
	padding: 2px;
	font-size: 105%;
}

.zelda {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #A0A0AD;
}

.zelda a {
	padding: 5px;
	text-decoration: underline;
}

.content {
	margin: 2vw;
}