@media (min-aspect-ratio:10/9) {
	.profile {
		width: 40vw;
		height: 60vh;
	}
	
	.pfp {
		margin: 10px;
	}
	
	.icon {
		height: 25px;
	}
	
	.web {
		font-size: 1em;
	}
	
	body {
		background-size: 100vw;
	}
	
	ul {
		width: 200px;
	}
}

@media (max-aspect-ratio:10/9) {
	.profile {
		width: 70vw;
		height: 60vh;
	}
	
	.pfp {
		margin-top: 3em;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	
	.smcap {
		display: none;
	}
	
	.icon {
		height: 100px;
	}
	
	.web {
		font-size: 40px;
	}
	
	body {
		background-size: 100vh;
	}
	
	ul {
		width: 60%;
	}
}

body {
  padding-right: 10px;
  padding-left: 10px;
  background-color: #2a2a2e;
  background-image: url(../pictures/background.png);
}

hr {
	border: 0;
	border-top: 2px solid #2a2a2e;
}


img {
  max-width: 100%
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

ul {
	list-style-type: none;
	margin: 0;
	list-style-type: none;
	margin: 0;
	padding: 0px 0px 10px 0px;
}

li {
	display: block;
	padding: 5px 16px;
	box-shadow: inset 0 0px 0 white, inset 0 -1px 0 #f9f9fa
}

.pfp {
	border-radius: 50%;
	height: 20vh;
	padding: 5px;
	border: 2px solid #fee9a5;
}

.icon {
	display: block;
	float: left;
	padding: 0px 5px 0px 12px;
}

.profile {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #38383d;
	border-radius: 10px;
}

.flex {
	display: flex;
	justify-content: center;
}

.sm {
	margin: 0 auto;
	width: 80%;
	display: flex;
	justify-content: center;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #f9f9fa;
	font-size: 16px;
	padding-top: 10px;
	text-align: center;
	background-color: #38383d;
	border-radius: 10px;
}

.web {
	display: flex;
	justify-content: center;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: #f9f9fa;
	text-align: center;
	padding-top: 15px;
	background-color: #38383d;
	border-radius: 10px;
}

.hidden {
	display: none;
}

.mouse:hover {
	background: #f9f9fa;
	color: #38383d;
}